extends templates/base
block vars
    - var page = "home"
block head 
    title T语言
block content
    .container
        .row.content-top
            .col-md-8
                img(src="images/phone-img.jpg").banner-img
                img(src="images/phone-img-640.jpg").banner-img-640
            .col-md-4.clearfix
                .download-box
                    img(src="images/logo-big.png").logo-big
                    a(href="#").andriod-download
                        img(src="images/andriod-download.png")
                    img(src="images/wechat-code.png")
    .content-btm.clearfix
        .download-box-mobile
            img(src="images/logo-big.png").logo-big
            a(href="#").andriod-download
                img(src="images/andriod-download.png")
            img(src="images/wechat-code.png")
        .app
            h3 应用简介
            p.con T语言从不同角度挖掘图片语言，在图片中融入情感和趣味，在这里你可以个性化定制你的手机桌面，并以图片为通道开启无限可能。
        .feature
            h3 功能介绍
            p.th √  让图片也能表达情感
            p 面对不同的人和事物，同样的图片有不同的含义，在T语言，您可以用自己制作的图片来表达自己的情感，你可以猜图片，利用图片对心爱的人表白，你可以把想说的画放在图片里，
                br
                |让TA来感知你的心意。
            p.th √  开启无限可能
            p 同一张图片，用不同的角度去看就能发现不一样的可能性； 使用同一张图片，你可以找到共同兴趣的朋友，找到同一位置的人，或者您也可以相约去同样的地方旅游，
                br
                |甚至可以参加同一场活动。
            p.th √  独享的视觉盛宴
            p 上百位海内外顶尖设计师，独家合作资源，呆萌宠物，中国风，西方艺术，动漫卡通，
                br 
                |喜欢什么就来找我！
            p.th √  专属的个性化定制
            p  T语言趣味图片DIY，图片拼接和定制，找到自己的style！动态壁纸和锁屏美图，把喜欢的放在桌面，第一时间掌握最新动态，每一眼都有惊喜，定制有自己专属的桌面语言。


